<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
        <div class="jumbotron">
            <h1 class="animated infinite bounce">Lab Assignment 6 - Node.JS Google Label detection</h1>
        </div>

      <h1>Read Console Output for more information</h1>
<!-- <% include ../partials/photoset %> -->

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
<script>

</script>
</html>
